.container {
    padding-top: 20px;

    .mat-card {
        padding: 0;

        .filter {
            padding: 20px 30px;
            border-bottom: solid 1px #ccc;
            width: 100%;
        }
        .comment-window {
            height: 500px;
            margin-bottom: 35px;
            overflow: scroll;
            border-bottom: solid 1px #ccc;
            width: 100%;
        }
    }
}