<mat-accordion class="container-fluid" [multi]="true">
    <mat-expansion-panel 
        class="col-md-12 comment" 
        *ngFor="let comment of comments" 
        [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="user-photo" [style.background]="comment.profilePhoto"></div>
                <strong>{{comment.name}}</strong>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="message">{{comment.message}}</div>
        <app-ng-tree 
            [data]="comment[prop]" 
            [prop]="prop" 
            [@animateComment]>
        </app-ng-tree>
    </mat-expansion-panel>
</mat-accordion>